{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Furix - Veterinary Equipments</title>
    <meta name="author" content="Furix">
    <meta name="description" content="Discover Furix, a leader in veterinary medical equipment, dedicated to innovation and the welfare of homeless pets. Explore our advanced products designed for precision and reliability in veterinary care.">
    <meta name="keywords" content="Furix, veterinary equipment, veterinary medical equipment, animal care, veterinary ventilator systems, veterinary X-ray machines, homeless pets welfare, veterinary innovation">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Outfit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
{% include "header.html" %}

    <!--==============================
Hero Area
==============================-->
<!-- Hero Area -->
<div class="th-hero-wrapper hero-1 background-image" id="hero">
    <div class="swiper th-slider" id="heroSlide1" data-slider-options='{"effect":"fade","autoHeight":true}'>
        <div class="swiper-wrapper">
            {% for banner in banners %}
            <div class="swiper-slide">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">{{ banner.subtitle }}</span>
                            <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">{{ banner.title }}</h1>
                            <!-- Add other dynamic content based on your model fields -->
                            <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">{{ banner.description }}</p>
                            <a href="/contact" class="th-btn style4" data-ani="slideinup" data-ani-delay="0.6s">
                                <i class="fas fa-phone me-2"></i>Enquire Now
                            </a>
                        </div>
                    </div>
                    <div class="hero-img" data-ani="slideinright" data-ani-delay="0.5s">
                        <img src="{{ banner.image.url }}" alt="Image">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="hero-thumb-wrap">
        <div class="hero-thumb" data-slider-tab="#heroSlide1">
            {% for banner in banners %}
            <div class="tab-btn {% if forloop.first %}active{% endif %}">
                <img src="{{ banner.image.url }}" alt="Image">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->

    <!--======== / Hero Section ========-->
    <!--==============================
Feature Area  
==============================-->


    <!--==============================
Category Area  
==============================-->
<!-- category_template.html -->
<section class="space-top">
    <div class="container">
        <div class="row justify-content-md-between justify-content-center align-items-center">
            <div class="col-md-auto">
                <h3 class="sec-title text-center">Shop by Category</h3>
            </div>
            <div class="col-md-auto mt-n3 mt-md-0">
                <div class="sec-btn">
                    <div class="icon-box">
                        <button data-slider-prev="#catSlide1" class="slider-arrow icon-sm default"><i class="far fa-arrow-left"></i></button>
                        <button data-slider-next="#catSlide1" class="slider-arrow icon-sm default"><i class="far fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper th-slider" id="catSlide1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"400":{"slidesPerView":"2"},"768":{"slidesPerView":"4"},"992":{"slidesPerView":"5"},"1200":{"slidesPerView":"6"}}}'>
            <div class="swiper-wrapper">
                {% for category in categories %}
                <div class="swiper-slide">
                    <div class="category-card">
                        <div class="box-icon">
                            <img src="{{ category.icon.url }}" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="shop.html">{{ category.title }}</a></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

    <!--==============================
Product Area
==============================-->
<section class="space" id="shop-sec">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-lg-auto">
                <h3 class="sec-title text-center">Our Latest Products</h3>
            </div>
            <div class="col-lg-auto">
                <div class="filter-menu filter-menu-active">
                    <button data-filter="*" class="th-btn active" type="button">All Products</button>
                    {% for category in categories %}
                    <a href="{% url 'shop' %}?category={{ category.id }}" class="th-btn" type="button">{{ category.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row gy-40 filter-active">
            {% for product in products %}
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat{{ product.category.id }}">
                <div class="th-product product-grid">
                    <div class="product-img">
                        <img src="{{ product.image.url }}" alt="Product Image">
                        {% if product.discount_price %}
                        {% comment %} <span class="product-tag">Sale!</span> {% endcomment %}
                        {% endif %}
                        <div class="actions">
                            <a href="#QuickView" class="icon-btn popup-content"><i class="far fa-eye"></i></a>
                            <a href="{% url 'product_detail' product.id %}" class="icon-btn"><i class="far fa-cart-plus"></i></a>
                            <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="{% url 'product_detail' product.id %}" class="product-category">{{ product.category.name }}</a>
                        <h3 class="product-title"><a href="{% url 'product_detail' product.id %}">{{ product.title }}</a></h3>
                        {% comment %} {% if product.discount_price %}
                        <span class="price">${{ product.discount_price }} - <del>${{ product.price }}</del></span>
                        {% else %}
                        <span class="price">${{ product.price }}</span>
                        {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

    


    <!--==============================
Testimonial Area  
==============================-->
    <section class="" id="testi-sec" data-bg-src="http://127.0.0.1:8000/static/img/bg/team_bg_1.jpg">
    

        <div class="container space">
            <h2 class="sec-title text-center">What Our Client Says?</h2>
            <div class="swiper th-slider has-shadow" id="testiSlide1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"2"}}}'>
                <div class="swiper-wrapper">
                    {% for testimonial in testimonials %}
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="box-review">
                                {% for _ in testimonial.star_range %}
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                {% endfor %}
                            </div>
                            <div class="box-quote">
                                <img src="{% static 'img/icon/quote_1.svg' %}" alt="Icon">
                            </div>
                            <p class="box-text">{{ testimonial.quote_text }}</p>
                            <div class="box-profile">
                                <div class="box-img">
                                    <img src="{{ testimonial.client_image.url }}" alt="Avater">
                                </div>
                                <div class="box-content">
                                    <h3 class="box-title">{{ testimonial.client_name }}</h3>
                                    <span class="box-desig">{{ testimonial.client_profession }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    
    <!--==============================
Blog Area  
==============================-->
<section class="space" id="blog-sec">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-lg">
                <h2 class="sec-title text-center text-lg-start">Our Latest News & Blogs</h2>
            </div>
            <div class="col-lg-auto d-none d-lg-block">
                <div class="sec-btn">
                    <a href="#" class="th-btn style4">View All Post</a>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            {% for post in latest_posts %}
            <div class="col-xl-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span><i class="fal fa-user"></i>By {{ post.author }}</span>
                            <span><i class="fal fa-calendar"></i>{{ post.date }}</span>
                        </div>
                        <h3 class="box-title"><a href="#">{{ post.title }}</a></h3>
                        <a href="#" class="th-btn btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    <!--==============================
	Footer Area
==============================-->
<footer class="footer-wrapper footer-layout2" data-bg-src="assets/img/bg/footer_bg_2.jpg">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contact Us</h3>
                        <div class="th-widget-contact">
                            <p class="footer-text">Keep up to date with our latest news & special offer.</p>
                            <p class="footer-info">
                                <i class="fal fa-location-dot"></i>
                                6/F Mega Cube, Wang Kwong Road, Kowloonk, Hong Kong
                            </p>
                            <p class="footer-info">
                                <i class="fal fa-envelope"></i>
                                <a href="mailto:sales@myfurix.com" class="info-box_link">sales@myfurix.com</a>
                            </p>
                            <p class="footer-info">
                                <i class="fal fa-phone"></i>
                                <a href="tel:+85295790472" class="info-box_link">+852 95790472</a>
                            </p>
                            <div class="th-social">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/about">Terms of Use</a></li>
                                <li><a href="service.html">Our Services</a></li>
                                <li><a href="faq.html">Help & FAQs</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="/about">Privacy policy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Popular service</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="service-details.html">Cardiology Care</a></li>
                                <li><a href="service-details.html">Urgent Care</a></li>
                                <li><a href="service-details.html">Orthopedic Care</a></li>
                                <li><a href="service-details.html">Diagnosis department</a></li>
                                <li><a href="service-details.html">Gastroenterology</a></li>
                                <li><a href="service-details.html">Therapy department</a></li>
                                <li><a href="service-details.html">Dental service</a></li>
                            </ul>
                        </div>
                    </div>
                </div> {% endcomment %}
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Let’s Stay In Touch</h3>
                        <div class="newsletter-widget">
                            <p class="footer-text">Subscribe for newsletter</p>
                            <form action="#" class="newsletter-form">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Enter Email" required="">
                                </div>
                                <button type="submit" class="simple-icon"><i class="fa-solid fa-paper-plane"></i></button>
                            </form>
                            <div class="form-group">
                                <input type="checkbox" id="checkbox" name="checkbox">
                                <label for="checkbox">I agree with the terms & conditions</label>
                            </div>
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row gy-2 align-items-center">
                <div class="col-md-7">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a href="www.myfurix.com">Furix</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-5 text-center text-md-end">
                    <div class="payment-img">
                        <img src="assets/img/normal/payment_methods.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

      <!-- Scroll To Top -->
      <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    
    <!--********************************
        Code End  Here 
        ******************************** -->

 <!--==============================
    All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
    <!-- Swiper Js -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Counter Up -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!-- datetimepicker -->
    <script src="{% static 'js/jquery.datetimepicker.min.js' %}"></script>
    <!-- Range Slider -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- Isotope Filter -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!-- Main Js File -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>